@import "~src/assets/scss/colors";

mat-toolbar {
  background-color: $primary-color;
  color: white;
  height: 60px;
}

mat-drawer {
  width: 300px;
}

mat-drawer-container {
  height: calc(100% - 64px);
}

.container {
  width: 1300px;
  margin: 0 auto;
  height: calc(100% - 64px);
}
