<mat-card>
  <div fxLayout="column">

    <table fxFill
           mat-table [dataSource]="listaConcorsi"
           matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

      <!-- Colonna Nome Concorso -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.nomeConcorso}}</td>
      </ng-container>

      <!-- Colonna Bottone Apri Concorso -->
      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" >
          <button  mat-flat-button (click)="GotoDomande(row)">VISUALIZZA</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="nomeColonne"></tr>
      <tr mat-row *matRowDef="let row; columns: nomeColonne;"></tr>
    </table>

    <mat-paginator [pageSize]="30"></mat-paginator>
  </div>

</mat-card>
