.mat-row:hover {
  background-color: #F5F5F5;
}

.spinner-container {
  height: 360px;
  width: 1300px;
  position: fixed;
  margin: 0 auto;
}

.spinner-container mat-spinner {
  margin: 130px auto 0 auto;
}
