<mat-card class="search-mat-card mat-elevation-z8" >
  <div fxLayout="column" class="search-container">

    <div fxLayout="row" >

      <mat-form-field appearance="outline" fxFlex="40">
        <input matInput placeholder="Cerca per codice fiscale" #cfSearchbar>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="40">
        <input matInput placeholder="Cerca per cognome" #cognomeSearchbar>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>

    <div fxLayout="row">
      <mat-form-field appearance="outline" fxFlex="40">
        <input matInput placeholder="Cerca per nome" #nomeSearchbar>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="40">
        <input matInput placeholder="Cerca per id domanda" #idSearchBar>
        <mat-icon matPrefix>search</mat-icon>
      </mat-form-field>
    </div>

  </div>
</mat-card>

<mat-card class="mat-elevation-z8">
  <div fxLayout="column">


    <div class="spinner-container" *ngIf="dataSource.loading$ | async">
      <mat-spinner></mat-spinner>
    </div>

    <div class="layout" style="padding-left: 1.5em;">
      <div class="col col-complementary">

        <mat-checkbox (change)="$event ? masterToggle() : null" style="margin-left:auto; margin-right:0"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox >

        <button mat-icon-button [matMenuTriggerFor]="menu">

          <mat-icon>arrow_drop_down</mat-icon>
        </button>

        <mat-menu #menu="matMenu" >

          <button mat-menu-item>
            <span>TUTTI</span>
          </button>

          <button mat-menu-item>
            <span>INVIATI</span>
          </button>

          <button mat-menu-item>
            <span>ANNULLATI</span>
          </button>

        </mat-menu>

        <button mat-icon-button *ngIf="startToggle()" matTooltip="Elimina selezionati">
          <mat-icon style="color: #333333; font-size: 1.5em">delete</mat-icon>
        </button>
      </div>

    </div>
    <br>

    <table fxFill
           mat-table [dataSource]="dataSource"
           matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

      <!-- Colonna checkbox-->
      <ng-container matColumnDef="checkbox">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let row">

          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>        </td>
      </ng-container>

      <!-- Colonna id domande-->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{row.idDomanda}}</td>
      </ng-container>

      <!-- Colonna cognome nome canditato -->
      <ng-container matColumnDef="nominativo">
        <th mat-header-cell *matHeaderCellDef>Nominativo</th>
        <td mat-cell *matCellDef="let row">{{row.cognome}} {{row.nome}}</td>
      </ng-container>

      <!-- Colonna data di nascita candidato -->
      <ng-container matColumnDef="dataNascita">
        <th mat-header-cell *matHeaderCellDef>Data di nascita</th>
        <td mat-cell *matCellDef="let row">{{row.codiceFiscale}}</td>
      </ng-container>

      <!-- Colonna data prova candidato -->
      <ng-container matColumnDef="dataProva">
        <th mat-header-cell *matHeaderCellDef>Data prova</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>

      <!-- Colonna nome ultima prova -->
      <ng-container matColumnDef="nomeProva">
        <th mat-header-cell *matHeaderCellDef>Data prova</th>
        <td mat-cell *matCellDef="let row"></td>
      </ng-container>


      <!-- Colonna bottone apri singola domande -->
      <ng-container matColumnDef="open">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row" >
          <button [routerLink]="GotoDomanda(row)"  mat-flat-button>VISUALIZZA</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="nomeColonne"></tr>
      <tr mat-row *matRowDef="let row; columns: nomeColonne;"></tr>
    </table>

    <mat-paginator [length]="dataSource.numeroRisultati" [pageSize]="3"
                   [pageSizeOptions]="[5,10,15,20,50,100]"></mat-paginator>

  </div>

</mat-card>
